# configuratio file with all possible arguments
# database should be started with [db]
query_file=./train_dataset/FIND_Training_Data.tsv

# format options of query
query_format=tab
chrom=1
begin=2
end=2
ref=3
alt=4
zero_based=false
comment_indicator=##
header_indicator=#
has_header=false

# annotation options
anno_config=./config/all_dbs.annoc
force_overlap=false
out_format=BED

# output options
out_file=/path to output annotation file
is_loj=true
is_zip=false

# other options
thread=20
is_log=true
use_jdk_inflater=false


[db]
db_path=/path to/CADD_variant_ALL.Annotation.tsv.gz
db_index_type=VarNote
db_tag=BigAnno
db_mode=1

 